@import "../../scss/variables";


.recipe__header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.recipe__title {
    font-size: $font-size-x-large;
    margin: 0;
    margin-left: 1em;
}

.recipe__body {
    padding: 0 10em;
}