$color-background: #2B303A;
$color-accent: #30C5FF;
$color-font: #F8FFF4;

$color-light: #EEE5E9;
$color-gray: #335C67;



$font-size-med: 18px;
$font-size-big: 20px;
$font-size-huge: 30px;
$font-size-massive: 40px;
$font-size-x-large: 48px;


$z-index-header: 2;
$z-index-sidebar: 3;

$z-index-modal: 99999;