$color-background: #2B303A;
$color-font: #6CD4FF;

$color-light: #EEE5E9;
$color-gray: #7C7C7C;



$font-size-med: 18px;
$font-size-big: 20px;
$font-size-huge: 30px;
$font-size-massive: 48px;

$z-index-header: 2;
$z-index-sidebar: 3;

$z-index-modal: 99999;